{% extends "navbar/nav.html" %}

{% block body %}


<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />

<div id="autocomplete" class="autocomplete">
    <input class="autocomplete-input" />
    <ul class="autocomplete-result-list"></ul>
    <!--<button onclick="hotelSearch()">Search</button> -->
</div>

<!-- <div>
    <form class="form-inline my-2 my-lg-0" method=POST action="{% url 'hotels:search-hotels' %}">
        {% csrf_token %}
        <input class="autocomplete-input" type="search" placeholder="Search" name="searchhotel" id=search-suggest aria-label="Search">
        <ul class="autocomplete-result-list"></ul>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    
</div> -->

<script>
    new Autocomplete('#autocomplete', {
        search: input => {
            console.log(input)
            const URL = `search-hotels/?name=${input}`
            return new Promise(resolve => {
                fetch(URL).then(response => response.json())
                    .then(data => {
                        console.log(data)
                        resolve(data.data)
                    })
            })
        },
        onSubmit: result => {
            window.open(`list/${result}`)
        }
    })

</script>

{% endblock %}